html, input, textarea, button {
	font-family: "Lato";
}
body {
	margin: 0px;
}
a {
	font-weight: 400;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: blue;
}
#input-wrapper {
    position: relative;
    width: 700px;
    margin: 0px auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#input {
	display: block;
	width: 450px;
	height: 60px;
    font-size: 32px;
	padding: 0px 20px;
	border: 0px;
    line-height: 60px;
	font-weight: 300;
}
input:focus, textarea:focus, button {
	outline: none;
}
#results {
    position: absolute;
    right: 64px;
    height: 60px;
    font-weight: 300;
    line-height: 60px;
    font-size: 32px;
    top: 0px;
    color: rgba(0,0,0,0.4);
}
#number {
    display: inline-block;
}
#dimmer {
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
}
#menu {
    position: absolute;
    right: 14px;
    width: 40px;
    height: 40px;
    top: 12px;
    opacity: 0.4;
    transition: 0.2s;
}
#menu:hover {
    cursor: pointer;
    opacity: 1;
}
#output {
	width: 700px;
	margin: 0px auto;
	padding-bottom: 200px;
}
.container:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.acronym {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding: 10px 10px;
}
.definition {
	display: inline-block;
	position: relative;
	padding: 10px 10px;
	width: 560px;
}
.title {
	display: inline-block;
}
.link {
	display: inline-block;
	position: absolute;
	right: 10px;
}
.description {
	font-weight: 300;
}
.highlight {
	display: inline;
	background-color: yellow;
}
.search {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: blue;
    margin-top: 25px;
    margin-bottom: -5px;
}
.inlink {
    display: inline;
    color: blue;
}
.inlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* SUBMISSION WINDOW */
#submit-wrapper {
    display: none;
    position: fixed;
    width: 660px;
    height: 540px;
    left: 50%;
    margin-left: -330px;
    top: 50%;
    margin-top: -270px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    background-color: white;
}
#submit-title {
    margin-top: 20px;
    font-weight: 300;
    font-size: 32px;
}
.submit {
    width: 600px;
    border: none;
    font-weight: 300;
    transition: 0.5s;
}
.submit:not(#submit-desc) {
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#submit-acr, #submit-name {
    font-size: 32px;
}
#submit-link, #submit-link-desc {
    font-size: 22px;
}
#submit-desc {
    margin-top: 15px;
    font-size: 20px;
    resize: none;
    height: 190px;
}
#cancel {
    margin-right: 20px;
}
button {
    margin-top: 21px;
    font-weight: 300;
    font-size: 24px;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.2s;
}
button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}
#thanks-content {
    display: none;
}
#thanks-title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
}
#thanks-subtitle {
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
}
