html { 
	background: url(images/Space.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: 'Great Vibes', cursive;
	color: white;
	margin: 0px;
}
a {
	text-decoration: none;
	color: white;
}
#acronym-link:hover {
    text-decoration: underline;
}
#box {
	position: fixed;
	width: 450px;
	left: 50%;
	margin-left: -225px;
	top: 50%;
	margin-top: -130px;
	padding: 10px 0px;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
#box:hover {
	background: rgba(255,255,255,0.2);
	-webkit-transform: scale(1.1,1.1);
}
#website-of {
	font-size: 25px;
}
#name {
	font-size: 100px;
}
#arriving {
	font-size: 25px;
}
#acronym {
    position: fixed;
    width: 450px;
    text-align: center;
    left: 50%;
    margin-left: -225px;
    bottom: 50%;
    margin-bottom: -100px;
    font-size: 30px;
}
